{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">ABOUT</h1>
    <!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>HTML input tag</title>
    </head>
    <body>
    
        <form action="/examples/media/action_target.php" method="get">
            제목 : <input type="text" name="st_name"><br>
            내용 : <input type="text" name="st_id"><br>
            글쓴이 : <input type="text" name="department"><br>
            <input type="submit">
        </form>
    
    </body>
    </html>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}