{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">ARTICLES</h1>
    <p>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>AUTHOR</th>
                <th>DATA</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody>
          <ul>
            {% for article in articles %}
            <tr>
              <td>{{article['id']}}</td>
              <td>{{article['title']}}</td>
              <td>{{article['body']}}</td>
              <td>{{article['author']}}</td>
              <td>{{article['create_date']}}</td>
              <td><a class="btn btn-primary" href="#" role="button">EDIT</a>
              </td>
              <td><a class="btn btn-primary" href="#" role="button">DELETE</a>
              </td>
            </tr>
            {% endfor %}
          </ul>           
            
        </tbody>
        <tfoot>
            <tr>
              <th>ID</th>
              <th>TITLE</th>
              <th>DESCRIPTION</th>
              <th>AUTHOR</th>
              <th>DATA</th>
              <th>EDIT</th>
            </tr>
        </tfoot>
	</table>
	
</body>
</html>
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}